<div class="center">
    <h1> Similar Song Search </h1>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Enter a song</mat-label>
                <input matInput (input)="setSongName($event)">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Duration
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Tempo
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Valence
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Energy
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Acousticness
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Speechiness
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Mode
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Loudness
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Liveliness
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Instrumental Value
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Time Signature
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Danceability
                </mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="accent" (click)="searchSimilarSongs()" [routerLink]="['/results']">
                Search
            </button>
        </mat-card-content>
    </mat-card>
</div>