<div class="center">
    <h1> Criteria Search </h1>
    <mat-card>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Duration
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Tempo
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Valence
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Energy
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Acousticness
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Speechiness
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Mode
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Loudness
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Liveliness
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Instrumental Value
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Time Signature
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="left">
                <mat-checkbox> 
                    Danceability
                </mat-checkbox>
                <mat-slider>
                </mat-slider>
            </div>
        </mat-card-content>
        <mat-card-content>
            <button mat-raised-button color="accent"> 
                Search
            </button>
        </mat-card-content>
    </mat-card>
</div>
